node_modules/
.cache/
public
static/*
# Include admin/ and images/ folders
!static/admin/
!static/images/
# Ignore everything inside static/admin/ecl-webcomponents/
static/admin/ecl-webcomponents/*
static/admin/*.css
src/gatsby-types.d.ts

# Local Netlify folder
.netlify