cms:
  css: /ckeditor5.css
backend:
  name: git-gateway
  repo: ec-europa/ecl-ssg
  branch: ec-playground
  base_url: https://ec-playground--ecl-ssg.netlify.app/
  extension: md
  squash_merges: true
  commit_messages:
    create: 'feat({{collection}}): create {{collection}} “{{slug}}”'
    update: 'feat({{collection}}): update {{collection}} “{{slug}}”'
    delete: 'feat({{collection}}): delete {{collection}} “{{slug}}”'
    uploadMedia: 'Upload “{{path}}”'
    deleteMedia: 'Delete “{{path}}”'
i18n:
  structure: multiple_files
  locales: [en, fr]
  default_locale: en
#local_backend: true
media_folder: /static/images
public_folder: /images
publish_mode: editorial_workflow

collections:
  - name: home
    label: Home
    create: true
    i18n: true
    format: frontmatter
    folder: src/pages/home
    fields:
      - { name: contentType, widget: "hidden", default: 'home' }
      - { name: customPath, label: Path, i18n: false, default: "home",  required: false }
      - { name: title, label: Title, widget: "hidden", default: "home", i18n: false }
      - { name: bodyTitle, label: Title, i18n: true}
      - { name: body, label: Body, widget: ckeditor, i18n: true }
  - name: page
    label: Page
    folder: src/pages
    format: frontmatter
    i18n: true
    create: true
    fields:
      - { name: customPath, label: Path, i18n: true, required: false }
      - { name: contentType, widget: "hidden", default: 'page' }
      - { name: showPageHeader, widget: boolean, default: true },
      - { name: title, label: Title, i18n: true }
      - { name: inpage, label: With in page navigation, widget: boolean, required: false }
      - { name: contentTop, label: Content Top, widget: ckeditor, i18n: true, required: false }
      - { name: body, label: Body, widget: ckeditor, i18n: true }     
  - name: menu
    label: Menu
    folder: src/pages/menu
    format: frontmatter
    i18n: true
    create: true
    fields:
      - { name: contentType, widget: "hidden", default: 'menu' }
      - { name: title, label: Title, i18n: true, hidden: true, default: 'menu' }
      - { name: body, label: Body, widget: ckeditor, i18n: true }
  - name: footer
    label: Footer
    folder: src/pages/footer
    format: frontmatter
    i18n: true
    create: true
    fields:
      - { name: contentType, widget: "hidden", default: 'footer' }
      - { name: title, label: Title, i18n: true, hidden: true, default: 'footer' }
      - { name: body, label: Body, widget: ckeditor, i18n: true }
  - name: site-header
    label: Site Header
    folder: src/pages/site-header
    format: frontmatter
    i18n: true
    create: true
    fields:
      - { name: contentType, widget: "hidden", default: 'site-header' }
      - { name: title, label: Title, i18n: true, hidden: true, default: 'site-header' }
      - { name: body, label: Body, widget: ckeditor, i18n: true }
