name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master
      - dev
      - ec-playground
      - eu-playground

jobs:
  semantic:
    name: Validate PR title
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '22.12.0'
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  audit:
    name: audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
      - name: Test
        run: ./scripts/audit.sh
  deploy-preview:
    name: deploy full preview
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && (github.ref != 'refs/heads/ec-playground' && github.ref != 'refs/heads/eu-playground')) || (github.event_name == 'pull_request' && github.base_ref != 'ec-playground' && github.base_ref != 'eu-playground')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
      - name: Install pnpm
        run: npm install -g pnpm@10.9.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Package application
        run: pnpm build
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0.0
        with:
          alias: preview-${{ github.event.number }}
          publish-dir: 'public'
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-ec-push:
    name: deploy ec playground
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/ec-playground'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
      - name: Install pnpm
        run: npm install -g pnpm@10.9.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Package application
        run: pnpm build
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0.0
        with:
          alias: ec-playground-
          publish-dir: 'public'
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-ec-pull-request:
    name: deploy ec custom preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.base_ref == 'ec-playground'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
      - name: Install pnpm
        run: npm install -g pnpm@10.9.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Package application
        run: pnpm build
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0.0
        with:
          alias: ec-playground-${{ github.event.number }}
          publish-dir: 'public'
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}  
  deploy-eu-push:
    name: deploy eu playground
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/eu-playground'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
      - name: Install pnpm
        run: npm install -g pnpm@10.9.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Package application
        run: pnpm build
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0.0
        with:
          alias: eu-playground-
          publish-dir: 'public'
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
  deploy-eu-pull-request:
    name: deploy eu playground
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.base_ref == 'eu-playground'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.12.0'
      - name: Install pnpm
        run: npm install -g pnpm@10.9.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Package application
        run: pnpm build
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0.0
        with:
          alias: eu-playground-${{ github.event.number }}
          publish-dir: 'public'
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}